/*轮播图*/
.banner{
	position:relative;
	height:460px;
}
.banner:hover i{
	opacity:.5;
}
.banner a{
	position:absolute;
	width:100%;
	height:100%;
	background-position:center;
	background-size:100% 100%;
}
.banner .current{
	z-index:1;
}
.banner i{
	position:absolute;
	top:208px;
	width:25px;
	height:44px;
	z-index:1;
	opacity:0;
	transition:opacity .5s;
}
.banner i:hover{
	opacity:1;
}
.banner .previous{
	left:66px;
	background-position:0 -37px;
}
.banner .next{
	right:66px;
	background-position:-26px -37px;
}
/*页中标志*/
.nav{
	height:123px;
	border:1px solid rgb(217, 217, 217);
	padding-top: 16px;
}
.navWidth{
	width: 1180px;
	margin: 0 auto;
}
.nav_width{
	width: 1250px;
}
.navLeft{
	float: left;
	padding: 0 2px;
	height: 104px;
	border-right: 1px solid rgb(238, 238, 238)
}
.navHt{
	width: 438px;
}
.navText{
	float: left;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	margin-left: 14px;
}
.navIcn{
	float: right;
	height:30px;
	width: 35px;
	background: url(../image/icon2.png) no-repeat -8px -115px;
}
.navBrand_a{
	float: left;
	margin-left: 17px;
}
.navBrand_span{
	display:block;
	font-size: 12px;
	color: rgb(102, 102, 102);
	margin-left: 5px;
	margin-top: 8px;
}
.navBrand_a:hover .navBrand_span{
	color: rgb(255, 87, 26);
}
.car_img{
	width: 50px;
	height: 24px;
	background: url(../image/models.png) no-repeat 0 4px;
}
.navBranda{
	float: left;
}
.nav_brand{
	margin-left: 30px;
}
.navBranda:hover .navBrand_span{
	color: rgb(255, 87, 26);
}
.navRight_text{
	margin-left: 16px;
	height: 40px;
	line-height: 40px;
}
.navRight_year{
	float: left;
	width: 290px;
	height: 56px;
}
.navRight_item{
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	color: rgb(102, 102, 102);
	padding: 0 12px;
}
.navRight_item:hover{
	color: rgb(255, 87, 26);
}
/*主体内容*/
.main{
	padding-top:90px;
	overflow:hidden;
	background-color:rgb(242, 242, 242);
}
.main .w1200{
	overflow:hidden;
}
.main h1{
	text-align:center;
	font-size:32px;
	color:rgb(51, 51, 51);
}
.main p{
	color:rgb(153, 153, 153);
}
.main > p, .product > p{
	margin:20px 0 42px;
	text-align:center;
}
.main .container{
	width:1220px;
}
.main .container a{
	float:left;
	margin:40px 30px 0 10px;
	padding-left:285px;
	width:285px;
	height:240px;
	background-color:white;
	background-repeat:no-repeat;
	text-align:center;
}
.main .container a:hover{
	box-shadow:0 4px 8px 0 rgb(182, 182, 182);
}
.main .container a:hover h2{
	color:rgb(255, 88, 26);
}
.main .container a:hover img{
	margin-left:-10px;
}
.main .container a h2{
	margin-top:34px;
	font-size:20px;
	color:rgb(68, 68, 68);
}
.main .container a p{
	margin-top:16px;
	font-size:14px;
}
.main .container a img{
	margin-top:45px;
	width:160px;
	height:105px;
	transition:margin-left .25s;
}
.main .product{
	margin-top:80px;
	padding-top:82px;
	height:390px;
	background-color:white;
}