.conten{
	width: 960px;
	margin:0 auto;
}
.conten .conten_title{
	text-align: center;
	font-size: 24px;
	color: rgb(68, 68, 68);
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 38px;
}
.conten .article{
	margin-top: 14px;
}
.conten .article_end{
	margin-top: 14px;
	margin-bottom: 90px;
}
.conten .article_sapn{
	font-size: 14px;
	color: rgb(255, 140, 0);
}
.conten .article_p{
	font-size: 14px;
	color: rgb(68, 68, 68);
	line-height: 25px;
	margin-top: 6px;
}